<!DOCTYPE html>
<html>
  <head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Pluto - Responsive Bootstrap Admin Panel Templates</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="css/bootstrap.min.css" /> 
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>
    <div class="full price_table padding_infor_info">
      <div class="row">
        <!-- column contact -->
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 profile_details margin_bottom_30">
          <div class="contact_blog">
            <h4 class="brief">Frontend Developer</h4>
            <div class="contact_inner">
              <div class="left">
                <h3>Anas Saleh</h3>
                <p><strong>About: </strong>Frontend Developer</p>
                <ul class="list-unstyled">
                    <li><i class="fa fa-envelope-o"></i>  anashelal851@gmail.com</li>
                    <li><i class="fa fa-phone"></i>  01064559087</li>
                    <li>
                        <a href="#element" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa-solid fa-star" style="color: #58718a;"></i>  Skills</span></a>
                        <ul class="collapse list-unstyled" id="element">
                           <li> <span>&emsp; &emsp;&emsp;Skill 1</span></a></li>
                           <li><span>&emsp; &emsp;&emsp;Skill 2</span></a></li>
                           <li><span>&emsp; &emsp;&emsp;Skill 3</span></a></li>
                           <li><span>&emsp; &emsp;&emsp;Skill 4</span></a></li>
                        </ul>
                    </li>
                    <li><i class="fa-solid fa-book" style="color: #58718a;"></i>&nbsp;  Matching type :
                    
                  </ul><br><br><br>
                  <div style="margin-top: 50px; width: max-content;">
                    <span style="background-color: #3bb017; padding: 5px 10px; margin-right: 10px;color: white; font-weight:350;" title="Combined Similarity"><strong>CS: 0.8</strong></span>
                    <span style="background-color: #0d49c1; padding: 5px 10px; margin-right: 10px;color: white;font-weight:350;" title="Expertise Level Similarity"><strong>ES: 0.6</strong></span>
                    <span style="background-color: #a8490e; padding: 5px 10px; margin-right: 10px;color: white;font-weight:350;" title="Good-to-Have Skills Similarity"><strong>GS: 1.0</strong></span>
                    <span style="background-color: #860f74; padding: 5px 10px;color: white;font-weight:350;" title="Mandatory Skills Similarity"><strong>MS: 0.6</strong></span>
                  </div>
                  
                  
                  
                  
              </div>
              <div class="right">
                <div class="profile_contacts">
                    <img class="img-responsive" src="images/anas.png" alt="#" />    
                </div>
              </div>
              <div class="bottom_list">
                <div class="right_button">
                  <button type="button" class="btn btn-success btn-xs">
                    <i class="fa fa-user"></i> <i class="fa-solid fa-comments" style="color: #ffffff;"></i></i>
                  </button>
                  <button type="button" class="btn btn-primary btn-xs">
                    <i class="fa fa-user"></i> View Profile
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
     <!-- jQuery -->
     <script src="js/jquery.min.js"></script>
     <script src="js/bootstrap.min.js"></script>
  </body>
</html>
